.Modal {
  position: fixed;
  z-index: 500;
  background-color: #00365c;
  width: 70%;
  border: 1px solid #ccc;
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border: 1px solid #00365c;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
